
<ion-view view-title="AllPending Posts">
 

 <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">   
           <ion-refresher on-refresh="doRefresh()">
           </ion-refresher>
    <ion-list>
    <div ng-repeat='item in records' class="list card">
            <div class="item item-avatar">
                <img class="avatar" ng-src="{{item.gravatarLink}}" alt="avatar"></span>
                
                <h2>{{item.userName}}</h2>
                <p>{{item.postTime}}</p>
                  <span><button class="icon ion-checkmark-circled" ng-click="showAccept({{item.tweetID}})"></button></span>
                  <span><button class="icon ion-trash-a" ng-click="showDelete({{item.tweetID}})"></button></span>
            </div>

            <div class="item item-body">
       <!--         <img class="full-image" src="delorean.jpg">
      -->
                <p>
                {{item.Post}}
                </p>
                <p>
                    <div ng-if="is_image_avilable(item.tweetID)" > 
                      <img ng-src="{{image_url}}{{item.tweetID}}.jpg " style="max-width: 100%;height: auto;"alt="{{eventName }} Photo">
                    </div>
                </p>
            </div>
     </div>

    </ion-list>
    </ion-content>
 
</ion-view>