<ion-view view-title="Forget Password">
    
    <ion-content class="splash1 has-header padding" style="padding-top:100px;">
            <form role="form" name="form1">
                
                <div class="item-input-inset">
                    Please enter your email address to send password reset mail
                </div>
            <div class="item-input-inset">
                        <label class="item-input-wrapper">
                            <input  type="email" placeholder="Email Address" class="form-control" required ng-model="data.emailAddress">
                        </label>
            </div>          

        <div class="padding">
            <button class="button button-block button-positive" ng-disabled="form1.$invalid" ng-click="sendRequest()">Submit</button>
        </div>
        
        <div class="item-input-inset" style="color:red">
              {{mail_state}}      
        </div>
        
         </form>    
      
    </ion-content>
</body>
</html>